<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Umbrella</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="../static/assets/css/style.css">
  <link rel="stylesheet" href="../static/formstyle.css">


  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">

  <!-- Material Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>

    <div class="overlay" data-overlay></div>

    <div class="header-top">
      <div class="container">

        <ul class="header-top-list">

          <li>
            <a href="mailto:info@homeverse.com" class="header-top-link">
              <ion-icon name="mail-outline"></ion-icon>

              <span>info@umbrella.com</span>
            </a>
          </li>

          <li>
            <a href="#" class="header-top-link">
              <ion-icon name="location-outline"></ion-icon>

              <address>Bumbogo, Kigali, Rwanda</address>
            </a>
          </li>

        </ul>

        <div class="wrapper">
          <ul class="header-top-social-list">

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

          </ul>

          <button class="header-top-btn">Documentation</button>
        </div>

      </div>
    </div>

    <div class="header-bottom">
      <div class="container">

        <a href="#" class="logo">
          <img src="../static/assets/images/logo.png" alt="Umbrella logo" width="150px">
        </a>

        <nav class="navbar" data-navbar>

          <div class="navbar-top">

            <a href="#" class="logo">
              <img src="../static/assets/images/logo.png" alt="Homeverse logo">
            </a>

            <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
              <ion-icon name="close-outline"></ion-icon>
            </button>

          </div>

          <div class="navbar-bottom">
            <ul class="navbar-list">

              <li>
                <a href="#home" class="navbar-link" data-nav-link>Home</a>
              </li>

              <li>
                <a href="#about" class="navbar-link" data-nav-link>About</a>
              </li>

              <li>
                <a href="#service" class="navbar-link" data-nav-link>Service</a>
              </li>

              <li>
                <a href="{{ url_for('properties') }}" class="navbar-link" data-nav-link>Property</a>
              </li>

              <li>
                <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
              </li>

              <li>
                <a href="{{ url_for('contact') }}" class="navbar-link" data-nav-link>Contact</a>
              </li>

            </ul>
          </div>

        </nav>

        <div class="header-bottom-actions">
        
            <div class="card-author">

              {% if 'user_id' in session %}
              <figure class="author-avatar">
                  <!-- Add the image source for the user avatar -->
                  <img src="../static/assets/images/author.jpg" alt="{{ session['username'] }}" class="w-100">
              </figure>
              <div>
                  <p class="author-name">
                      <!-- Display the username instead of a link to the portfolio -->
                      <a href="{{ url_for('portfolio') }}">{{ session['username'] }}</a>
                  </p>
                  <p class="author-title">View Portfolio</p>
              </div>

              <!-- Logout button with Material Icon -->
              <a href="{{ url_for('logout') }}" title="Logout">
                <span class="material-symbols-outlined icon">logout</span>
              </a>

              {% else %}
                <!-- Show "Create an account" link if not logged in -->
                <a class="author-title" href="{{ url_for('login') }}" title="Login">
                  <span class="material-symbols-outlined icon">account_circle</span>
                </a>
              {% endif %}

              </div>

          <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
            <ion-icon name="menu-outline"></ion-icon>

            <span>Menu</span>
          </button>

        </div>

      </div>
    </div>

  </header>





  <main>
    

      <!-- 
        - #ABOUT
      -->

    <section class="about" id="about">
        <div class="container">
            <figure class="about-banner">
                <img src="../static/assets/images/about-banner-1.png" alt="House interior">
                <img src="../static/assets/images/about-banner-2.jpg" alt="House interior" class="abs-img">
            </figure>
            <div class="about-content">
                
                {% if 'user_id' in session %}
                    
                <p class="section-subtitle">Send us a Message</p>
                <h2 class="h2 section-title">24/7 Support</h2>
                <br>
                <br>
                <br>


                    <!-- Display the form for logged-in users -->
                    <form action="{{ url_for('add_message') }}" enctype="multipart/form-data" method="post" autocomplete="off" class="sign-up-form">
                        <div class="actual-form">
                            <!-- Auto-fill the name field if user is logged in -->
                            <div class="input-wrap">
                                <input name="email" type="email" minlength="3" class="input-field" value="{{ session['email'] }}" readonly/>
                                <label for="email">Email</label>
                            </div>
    
                            <div class="input-wrap">
                                <input name="message" type="text" minlength="3" class="input-field" required/>
                                <label for="message">Message</label>
                            </div>
    
                            <input type="submit" value="Send Message" class="send-btn">
                        </div>
                    </form>
                {% else %}
                    <!-- Display non user-specific information when not logged in -->
                    <p class="section-subtitle">Comtact Details</p>
                    <h2 class="h2 section-title">24/7 Support</h2>
                    <br>
                    <br>
                    <br>


                    <ul>
                        <li>
                          <a href="mailto:info@homeverse.com">
                            <ion-icon name="mail-outline"></ion-icon>
              
                            <span>info@umbrella.com</span>
                          </a>
                        </li>
              
                        <li>
                          <a href="#" >
                            <ion-icon name="location-outline"></ion-icon>
              
                            <address>Bumbogo, Kigali, Rwanda</address>
                          </a>
                        </li>
              
                      </ul>
                {% endif %}
            </div>
            
        </div>
    </section>


      <!-- 
        - #CTA
      -->

      <section class="cta">
        <div class="container">

          <div class="cta-card">
            <div class="card-content">
              <h2 class="h2 card-title">Looking for a dream home?</h2>

              <p class="card-text">We can help you realize your dream of a new home</p>
            </div>

            <button class="btn cta-btn">
              <span>Explore Properties</span>

              <ion-icon name="arrow-forward-outline"></ion-icon>
            </button>
          </div>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="../static/assets/images/logo-white.png" alt="Umbrella logo" width="150px">
          </a>

          <p class="section-text">
            Umbrella stands as a pioneering platform, revolutionizing the way you build wealth through strategic investments.
          </p>

          <ul class="contact-list">

            <li>
              <a href="#" class="contact-link">
                <ion-icon name="location-outline"></ion-icon>

                <address>Bumbogo, Kigali, Rwanda</address>
              </a>
            </li>

            <li>
              <a href="tel:+0123456789" class="contact-link">
                <ion-icon name="call-outline"></ion-icon>

                <span>+250 790 139 525</span>
              </a>
            </li>

            <li>
              <a href="mailto:contact@umbrella.com" class="contact-link">
                <ion-icon name="mail-outline"></ion-icon>

                <span>contact@umbrella.com</span>
              </a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Company</p>
            </li>

            <li>
              <a href="#" class="footer-link">About</a>
            </li>

            <li>
              <a href="#" class="footer-link">Blog</a>
            </li>

            <li>
              <a href="#" class="footer-link">All Products</a>
            </li>

            <li>
              <a href="#" class="footer-link">Locations Map</a>
            </li>

            <li>
              <a href="#" class="footer-link">FAQ</a>
            </li>

            <li>
              <a href="#" class="footer-link">Contact us</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Services</p>
            </li>

            <li>
              <a href="#" class="footer-link">Login</a>
            </li>

            <li>
              <a href="#" class="footer-link">My account</a>
            </li>

            <li>
              <a href="#" class="footer-link">Terms & Conditions</a>
            </li>

            <li>
              <a href="#" class="footer-link">Promotional Offers</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Customer Care</p>
            </li>

            <li>
              <a href="#" class="footer-link">FAQ</a>
            </li>

            <li>
              <a href="#" class="footer-link">Contact us</a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2023 <a href="#">Umbrella</a>. All Rights Reserved
        </p>

      </div>
    </div>

  </footer>



  <script src="../static/app.js"></script>

  <!-- 
    - custom js link
  -->
  <script src="../static/assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>