<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umbrella</title>
    <link rel="stylesheet" href="../static/indexstyle.css">
    <link rel="stylesheet" href="../static/sectionstyles.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../static/asset/img/logo.png" alt="umbrella">
            </div>
            <button class="mobile-nav-toggle"><span aria-controls="primary-navigation" aria-expanded="false" class="sr-only">Menu</span></button>
            <nav>
                <ul id="primary-navigation" class="primary-navigation flex" data-visible="false">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="properties.html">Properties</a>
                    </li>
                    <li>
                        <a href="documentation.html">Docs</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="support.html">Support</a>
                    </li>
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="section1" class="hero section">
        </div>
    </div>
    <div id="section2" class="docs section">
        <div class="centered-text">
            <h1>invest in your <span style="color: #ec5c24;">future</span>.</h1>
            <div>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="docs-btn">
            <button class="btn-1"><a href="docs.html">View Documentation</a></button>
            <button class="btn-2""><a href="about.html">About Umbrella</a></button>
        </div>
    </div>
    <div id="section3" class="fraction section">
        <div class="centered-text">
            <h1>fractional own<span style="color: #ec5c24;">ership</span>.</h1>
            <div>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="fraction-btn">
            <button class="btn-1"><a href="https://www.pacaso.com/blog/pros-cons-fractional-ownership" target="_blank">Find Out More</a></button>
            <button class="btn-2""><a href="properties.html">View Listed Propeties</a></button>
        </div>
    </div>
    <div id="section4" class="start section">
        <div class="centered-text">
            <h1>change the <span style="color: #ec5c24;">narrative</span>.</h1>
            <div>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="start-btn">
            <button class="btn-1"><a href="support.html">Get in Contact</a></button>
            <button class="btn-2""><a href="login.html">Create an Account</a></button>
        </div>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>