<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umbrella</title>
    <link rel="stylesheet" href="../static/indexstyle.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../static/asset/img/logo.png" alt="umbrella">
            </div>
            <button class="mobile-nav-toggle"><span aria-controls="primary-navigation" aria-expanded="false" class="sr-only">Menu</span></button>
            <nav>
                <ul id="primary-navigation" class="primary-navigation flex" data-visible="false">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="properties.html">Properties</a>
                    </li>
                    <li>
                        <a href="documentation.html">Docs</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="support.html">Support</a>
                    </li>
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="section1" class="hero section">
        </div>
    </div>
    <div id="section2" class="docs section">

    </div>
    <script src="../static/index.js"></script>
</body>
</html>