@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;800&display=swap');

/* When an element has a "border-box" box-sizing, its padding and border widths are included in its total 
width and height, ensuring that the element's content remains a consistent size regardless of padding and border settings.s */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input {
    font-family: 'Montserrat', sans-serif;
}

.hero {
    background-color: #663399;
    height: 100vh;
}

.nav-item .nav-link {
    color: white;
}

.sec-1 {
    height: 100vh;
    background-color: orange;
}
